@charset "UTF-8";


#top-logo{
    margin-top:50px;
    background-color: #fff;
    /*overflow: hidden;*/
}

#top-logo .left-area{
    width:155px;
}

#top-logo .left-area a{
    display:block;
    height:110px;
    background:url(../images/vipBanner.png) 0 0 no-repeat;
}

#top-logo .left-area a:hover{
    background:url(../images/vipBanner.png) 0 -110px no-repeat;
}

#top-logo .right-area{
    padding:20px 0 20px 3px;
}

#top-logo .right-area li{
    display:inline;
    position:relative;
    float:left;
    padding-left:8px;
    width:70px;
    height:70px;
}

#top-logo .right-area li .vip-main{
    position:relative;
    width:70px;
    height:70px;
}

#top-logo .right-area li a{
    position:relative;
    display:block;
    width:70px;
    height:70px;
    left:0;
    top:0;
}

#top-logo .right-area .sm-vip{
     position: absolute;
     top:0;
     left:0;
     width:36px;
     height:36px;
     background: url(../images/icon_v160825.png) -126px -1000px no-repeat;
 }

#top-logo .right-area .md-vip{
    position: absolute;
    top:0;
    left:0;
    width:59px;
    height:59px;
    background: url(../images/icon_v160825.png) 0 -1000px no-repeat;
}

#top-logo .right-area .sm-svip{
    position: absolute;
    top:0;
    left:0;
    width:36px;
    height:36px;
    background: url(../images/icon_v160825.png) -166px -1000px no-repeat;
}

#top-logo .right-area .md-svip{
    position: absolute;
    top:0;
    left:0;
    width:59px;
    height:59px;
    background: url(../images/icon_v160825.png) -63px -1000px no-repeat;
}


#top-logo .right-area li .sm-img{
    width:70px;
}

#top-logo .right-area li .bg-img{
    width:125px;
}

#top-logo .right-area li dl{
    position:absolute;
    padding-left:5px;
    left:0;
    bottom:2px;
    font-size:13px;
    line-height:16px;
    color:#fff;
}


#middle .left-area .search{
    padding:20px 10px 20px 10px;
    background-color: #fff;
    margin-bottom:58px;
}

#middle .left-area .search > h1{
    position:relative;
    font:12px/12px SimSun;
    color:#5B5B5B;
}

#middle .search > h1 > i{
    position:absolute;
    right:0;
    top:0;
    width:15px;
    height:15px;
    cursor:pointer;
    background:url(../images/icon_v160825.png) -95px -84px no-repeat;
}

#middle .left-area .search > .open-vip{
    position: relative;
    padding-top:30px;
    border-bottom:1px solid #EFEFEF;
}

#middle .left-area .to-open{
    position:absolute;
    left:219px;
    top:15px;
    font-size:12px;
    font-family: "SimSun", "宋体";
    color:#5B5B5B;
    background-color: #fff;
}

#middle .left-area .to-open a{
    color:#FF3333;
}

#middle .left-area .to-open a:hover{
    text-decoration: underline;
}

#middle .left-area .to-open em{
    position:absolute;
    left:-20px;
    top:8px;
    width:16px;
    height:12px;
    background:url(../images/icon_v160825.png) -206px -477px no-repeat;
}

#middle .condition-select {
    padding:15px 10px;
}

#middle .condition-select li{
    float:left;
    padding-left:5px;
}

#middle .condition-select li select{
    width:84px;
    height:28px;
}

#middle .user-list {
    width:670px;
}

#middle .user-list .right-info{
    width:515px;
    padding-left:15px;
    background-color: #fff;
    font-family:Arial,sans-serif;
}

#middle .user-list li{
    margin-bottom:20px;
    overflow: hidden;
}

#middle .user-list .nickname a{
    color:#333;
    font:700 14px/1.75 Arial,sans-serif;
}

#middle .user-list .right-info .re-pos{
    position:relative;
    padding-left:20px;
}

#middle .user-list .right-info .re-pos > em{
    position:absolute;
    top:0;
    left:0;
    width:16px;
    height:12px;
    background: url(../images/icon_v160825.png) -84px -310px no-repeat;
}

#middle .user-list .nickname a:hover{
    text-decoration: underline;
}

#middle .user-list .right-info dd{
    color:#999;
    font-size:12px;
}

#middle .user-list .user-contact-info{
    margin-left:-5px;
}


#middle .user-list .user-contact-info span{
    padding:0 5px;
}

#middle .user-list .lt-desc{
    float:left;
    padding:15px 0 3px 0;
}

#middle .user-list .lt-desc p{
    color: #5b5b5b;
    padding-top:10px;
}

#middle .user-list .feed-user-info-icon a{
    display:inline-block;
    vertical-align:middle;
    position: relative;
    top:-2px;
    left:0;
}

#middle .user-list  dt{
    position:relative;
}

#middle .user-list .lt-desc .percent{
    position:absolute;
    top:-5px;
    right:-87px;
}

#middle .user-list .lt-desc .percent a{
    color:#999;
}

#middle .user-list .lt-desc .percent > a span{
    font-size:12px;
}

#middle .user-list .lt-desc .percent a > i{
    font-family: Georgia;
    font-size:18px;
    font-weight:700;
}

#middle .user-list .lt-desc .percent a > em{
    border-color: transparent transparent transparent #D6D6D6;
    border-style: dashed dashed dashed solid;
    border-width: 4px 0 4px 4px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 12px;
    right: -9px;
}



#middle .user-list .icon-verified-card{
    width:20px;
    height: 20px;
    background: url(../images/icon_v160825.png) 0 -103px no-repeat;
}

#middle .user-list .icon-verified-mobile{
    width:20px;
    height: 20px;
    background: url(../images/icon_v160825.png) -25px -103px no-repeat;
}

#middle .user-list .icon-verified-credit{
    width:20px;
    height: 20px;
    background: url(../images/icon_v160825.png) -147px -103px no-repeat;
}

#middle .user-list .icon-verified-mid-credit{
    height:20px;
    line-height:20px;
    color:#fff;
    font-size:12px;
    padding:0 4px;
    background-color: #FEC049;
    border-radius:10px;
}

#middle .user-list .icon-verified-mid-credit:hover{
    color:#fff;
    text-decoration: underline;
}

#middle .user-list .rt-icon{
    width:66px;
    background-color: #fff;
    float:right;
}

#middle .user-list .rt-icon div{
    position:relative;
}

#middle .user-list .rt-icon em{
    cursor:pointer;
    -webkit-transform:scale(0.5); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.5); /*Mozilla scale version*/
    -o-transform:scale(0.5); /*Opera scale version*/
    -webkit-transition-duration: 0.3s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.3s; /*Mozilla duration version*/
    -o-transition-duration: 0.3s; /*Opera duration version*/
}

#middle .user-list .rt-icon em:hover{
    -webkit-transform:scale(0.7); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(0.7); /*Mozilla scale version*/
    -o-transform:scale(0.7); /*Opera scale version*/
}

#middle .user-list .my-love em{
    position:absolute;
    top:2px;
    left:16px;
    width:45px;
    height:46px;
    background: url(../images/icon_v160825.png) -11px -1141px no-repeat;
}

#middle .user-list .rt-icon i{
    position:absolute;
    width:4px;
    height:46px;
    right:0;
}

#middle .user-list .my-love .disable{
    top:0;
    background-color: #FFAFAF;
}

#middle .user-list .my-love .enable{
    background-color: #FF7F72;
    top:0;
}

#middle .user-list .my-hate em{
    position:absolute;
    top:49px;
    left:18px;
    width:40px;
    height:40px;
    background: url(../images/icon_v160825.png) -110px -1140px no-repeat;
}

#middle .user-list .my-hate .disable{
    background-color: #9BC8FF;
    top:46px;
}

#middle .user-list .my-hate .enable{
    background-color: #3CACEC;
    top:46px;
}

#middle .user-list .my-say em{
    position:absolute;
    top:100px;
    left:22px;
    width:34px;
    height:34px;
    background: url(../images/icon_v160825.png) 0 -545px no-repeat;
    -webkit-transform:scale(0.7); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.7); /*Mozilla scale version*/
    -o-transform:scale(0.7); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
}

#middle .user-list .my-say em:hover{
    -webkit-transform:scale(0.9); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(0.9); /*Mozilla scale version*/
    -o-transform:scale(0.9); /*Opera scale version*/
}

#middle .user-list .my-say .disable{
    background-color: #D3D3D3;
    height:47px;
    top:92px;
}

#middle .user-list .say .enable{
    background-color: #3CACEC;
    top:92px;
    height:47px;
}




